.top-nav {
    margin-bottom: 20px;
}

.home-button {
    display: inline-block;
    padding: 7px 12px;
    background-color: #5b5b5b; 
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
}

.home-button:hover {
    background-color: #4e4e4e; /* Slightly darker on hover */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input[type="text"] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #5b5b5b; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #4e4e4e; /* Slightly darker on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #5b5b5b;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}